.nav{
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    z-index: 10;
    display: flex;
    transition: all linear 0.5s;
}
.nav-contents{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow: hidden;
}
.nav-contents a{
    height: 60%;
    overflow: hidden;
}
.nav-icon{
    display: flex;
    height: 100%;
    width: auto;
    object-fit:cover;
    object-position: center;
    border: 1px transparent solid;
    overflow: hidden;
}

.nav-logo{
    width: 100px;
    margin-left: 15px;
    background-color:transparent;
    color: transparent;
    margin-top: unset;
}

.avatar{
    margin-right: 15px;
    border-radius: 30%;
}
.nav-black{
    background-color: black;
}